<div class="container mt-4">
    <h2 class="text-center">Gestión de Inventario</h2>
  
    <form [formGroup]="inventarioForm" (ngSubmit)="agregarInventario()" class="mb-4">
      <div class="row">
        <div class="col-md-3">
            <select formControlName="productoId" class="form-control">
                <option value="" disabled selected>Seleccione un Producto</option>
                <option *ngFor="let producto of productos" [value]="producto.id">{{ producto.nombre }}</option>
              </select>
        </div>
        <div class="col-md-2">
          <input type="number" formControlName="cantidadDisponible" class="form-control" placeholder="Cantidad">
        </div>
        <div class="col-md-2">
          <input type="number" formControlName="stockMinimo" class="form-control" placeholder="Stock Mínimo">
        </div>
        <div class="col-md-2">
          <input type="number" formControlName="stockMaximo" class="form-control" placeholder="Stock Máximo">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" [disabled]="inventarioForm.invalid">Agregar</button>
        </div>
      </div>
    </form>
  
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>ID Producto</th>
          <th>Cantidad Disponible</th>
          <th>Stock Mínimo</th>
          <th>Stock Máximo</th>
          <th>Última Actualización</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of inventarios">
          <td>{{ item.producto.nombre }}</td>
          <td>
            <input type="number" [(ngModel)]="item.cantidadDisponible" class="form-control">
          </td>
          <td>{{ item.stockMinimo }}</td>
          <td>{{ item.stockMaximo }}</td>
          <td>{{ item.ultimaActualizacion | date:'short' }}</td>
          <td>
            <button class="btn btn-success btn-sm" (click)="actualizarInventario(item.id, item.cantidadDisponible)">Actualizar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
